@import './reset.scss';
@import './variables.scss';
@import './colors.scss';
@import './border.scss';

@import './fonts.scss';

@import './components/**/*.scss';
@import './typography/**/*.scss';
@import './layouts/**/*.scss';

#app {
	height: 100%;
}
html {
	font-weight: 400;
	scroll-behavior: smooth;
}
body {
	font-family: 'Inter', sans-serif;
	height: 100%;
	line-height: 1.33;
	overflow-x: clip;
	color: #3f2c2c;

	* {
		line-height: inherit;
	}
}
a:not([class]) {
	color: #c6922e;
	text-decoration-line: underline;
}

video {
	max-width: 100%;
}
