@import './reset.scss';
@import './variables.scss';
@import './colors.scss';
@import './border.scss';

@import './fonts.scss';

@import './components/**/*.scss';
@import './typography/**/*.scss';
@import './layouts/**/*.scss';

/*! purgecss start ignore */
#app {
	height: 100%;
}
html {
	font-weight: 400;
	scroll-behavior: smooth;
}
body {
	font-family: 'Inter', sans-serif;
	height: 100%;
	line-height: 1.33;
	overflow-x: clip;
	color: #3f2c2c;

	* {
		line-height: inherit;
	}
}
a:not([class]) {
	color: #c6922e;
	text-decoration-line: underline;
}

:root {
	// --primary-color: #ffadc9;
	--primary-color: #7aa075;
	--primary-hover-color: rgb(117, 137, 109);
	// --background-color: #fff2fdb8 rgba($color: #fff2fdb8, $alpha: 0.72)
	--background-color: #f5f5f5;
	// --dager-color: #fe5f55;
	--danger-color: #c84c1e;
	--danger-hover-color: #a63d16;
}

video {
	max-width: 100%;
}
/*! purgecss end ignore */
