.ui-panel {
	// background: rgba($color: #ffe1fab8, $alpha: 0.7);
	// background: rgba($color: #2f4f4f, $alpha: 0.7);
	background: rgb(100, 120, 90);
	backdrop-filter: blur(3px);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba($color: #ccccff, $alpha: 0.3);
}
